:root{
    --Cornflower:#E7E9FC;
    --iris:#4D5AE5;
    --navy-blue:#2E2F42;
    --white:#FFFFFF;
    --state:#434455;
    --cloud:#F4F4FD;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--state);
    background-color: var(--white);
}

nav{
    width: 1440px;
        height: 72px;
        gap: 0px;
        border: 1px 0px 0px 0px ;
        opacity: 0px;
        background-color: var(--white);
        border-bottom: 1px solid #E7E9FC;
}

.logo{
width: 44px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family:"Raleway",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--iris);
        text-transform: uppercase;
}

.logo-text-2{
    width: 71px;
        height: 21px;
        gap: 0px;
        opacity: 0px;
        font-family:"Raleway",sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
            color: var(--navy-blue);
}

.list-logo{
width: Hug (261px)px;
    height: Hug (24px)px;
    top: 24px;
    left: 347px;
    gap: 40px;
    opacity: 0px;
}

.link-logo{
    width: 48px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
        color: var(--navy-blue);
}

.link-logo:hover{
    color: #404bbf;
}

.link-logo:focus{
    color: #404bbf;
}


.contacts{
    font-style: normal;
}


.list-contacts{
width: 153px;
    height: 24px;
    top: 24px;
    left: 940px;
    gap: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--state);
}

.list-contacts:hover{
    color: #404bbf;
}

.list-contacts:focus{
    color: #404bbf;
}

.hero-image{
    width: 1440px;
        height: 600px;
        top: 72px;
        gap: 0px;
        opacity: 0px;
        background-color: var(--navy-blue);
}

.hero-title{
    width: 496px;
        height: 120px;
        top: 260px;
        left: 472px;
        gap: 0px;
        opacity: 0px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
}

.hero-button{
    width: Hug (169px)px;
        height: Hug (56px)px;
        top: 428px;
        left: 636px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        background-color: var(--iris);
        color: var(--white);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.hero-button:hover{
background-color: #404BBF;
}


.hero-button:focus{
    background-color: #404BBF;
}

.section-1{
    width: 1128px;
        height: 104px;
        top: 792px;
        left: 156px;
        gap: 0px;
        opacity: 0px;
}

.section-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }

.list-section{
width: Fixed (264px)px;
    height: Hug (104px)px;
    top: 792px;
    left: 156px;
    gap: 8px;
    opacity: 0px;
}

.piont-list{
    width: 264px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
}

.paragraf-list{
    width: 264px;
        height: 72px;
        gap: 0px;
        opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--state);
}

.section-our-1{
    width: 1440px;
        height: 732px;
        top: 1016px;
        gap: 0px;
        opacity: 0px;
        background-color: var(--cloud);
}

.our-section{
    width: 162px;
        height: 40px;
        top: 1136px;
        left: 639px;
        gap: 0px;
        opacity: 0px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--navy-blue);
}

.list-section-2{
    width: Hug (264px)px;
        height: Hug (380px)px;
        top: 1248px;
        left: 156px;
        padding: 0px 0px 32px 0px;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        opacity: 0px;
        background-color: var(--white);
}


.partner-team{
    width: 134px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
}

.job-name{
    width: 128px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--state);
}

.section-3{
    width: 1128px;
        height: 1000px;
        top: 1868px;
        left: 156px;
        gap: 0px;
        border: 1px 0px 0px 0px solid 1px var(--Cornflower);
        opacity: 0px; 
}

.name-section{
    width: 218px;
        height: 40px;
        top: 1868px;
        left: 611px;
        gap: 0px;
        opacity: 0px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--navy-blue);
}

.list-our-1{
    color: var(--white);
width: 1128px;
    height: 420px;
    top: 1980px;
    left: 156px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-width: 1px, 1px, 1px, 1px;
    
        border-style: solid;
    
        border-color: #E7E9FC;
}


.list-our-2{
    color: var(--white);
width: 1128px;
    height: 420px;
    top: 1980px;
    left: 156px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-width: 1px, 1px, 1px, 1px;
    
        border-style: solid;
    
        border-color: #E7E9FC;
}

.our-image{
width: 360px;
    height: 300px;
    gap: 0px;
    opacity: 0px;
}

.piont-our{
    width: 118px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--navy-blue);
}

.paragraf-our{
    width: 30px;
        height: 24px;
        gap: 0px;
        opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--state);
}

.footer{
    width: 1440px;
        height: 312px;
        top: 2988px;
        gap: 0px;
        opacity: 0px;
        background-color: var(--navy-blue);
}


.studio{
width: 71px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
color: #F4F4FD;
}

.footer-paragraf{
    width: 264px;
        height: 72px;
        top: 3128px;
        left: 156px;
        gap: 0px;
        opacity: 0px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            color: var(--cloud);
}
